@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: radial-gradient(
    circle farthest-side at 50% 100%,rgba(1, 9, 18, 0),
    rgba(1, 6, 14, 0.6) 36%,
    rgba(1, 14, 29, 0.6) 55%,
    rgba(49, 18, 93, 0.4));
}
.options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.option {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.option:hover {
  background-color: #f5f5f5;
}

.selected {
  border-color: #333;
  background-color: #333;
  color: #fff;
}
.board-container {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: 100vh;
}

.board {
  display: inline-block;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(64, 1fr);
  grid-gap: 2px;
  background-color: #232323;
  border: 2px solid #333;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  width: 8px;
  height: 8px;
  background-color: #1a1a1a;
  border: 1px solid #333;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.clicked-4 {
  background-color: #f88;
  border-color: #333;
}
.clicked-5 {
  background-color: #88f;
  border-color: #333;
}
.clicked-6 {
  background-color: #fff;
  border-color: #333;
}
.clicked-1 {
  background-color: #f00;
  border-color: #333;
}

.clicked-2 {
  background-color: #00f;
  border-color: #333;
}

.clicked-3 {
  background-color: #ff0;
  border-color: #333;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
  background-color: #00e5ff;
  color: #fff;
}

button.rock {
  background-color: #ff0055;
  color: #fff;
}

button.paper {
  background-color: #00e5ff;
  color: #fff;
}

button.scissors {
  background-color: #ffeb3b;
  color: #fff;
}

  
/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

